.jumbotron.text-center
	h1 MEAN Stack Movies
		p "{{ tagline }}"
.text-center
	code $ git clone https://github.com/jewkesy/meanMovies.git .
hr
.text-center
	img.img-responsive(src="./images/mean_small.png")



