.jumbotron.text-center
	h1 Movie List
	p "{{ tagline }}"

h2 Add New Movie
.row
	form.form-inline(name='inputForm', ng-submit='createMovie(inputForm.$valid)')
		div.form-group
			label(for="movieTitle") Title
			input(id="movieTitle", placeholder='Title', required='', ng-model="asyncSelected", uib-typeahead="movie for movie in getMovies($viewValue)", typeahead-on-select='onSelect($item, $model, $label)')
			label(for="movieYear") Year
			input(id="movieYear", placeholder='Year', type='number', min='1900', max='2050', ng-model='newMovieYear', required='')
			label(for="movieDirector") Director
			input(id="movieDirector", placeholder='Director', ng-model='newMovieDirector', required='')
			button.btn.btn-primary(type='submit', ng-disabled='inputForm.$invalid') Save

hr
h2 Your Movies
table.table.table-striped.table-bordered
	tr
		th Title
		th Year
		th Director
		th Watched
		th Rating
		th Actions
	tr(ng-repeat='movie in movies')
		td
			span.movieTitle(movetitle='{{movie.title}}', editable-text='movie.title', e-name='title', e-form='rowform', onbeforesave='checkTitle($data)', e-required='') {{ movie.title || 'empty' }}
		td
			span.movieYear(movieyear='{{movie.year}}', editable-number='movie.year', e-name='year', e-form='rowform', onbeforesave='checkYear($data)', e-min='1900', e-max='2050', e-required='') {{ movie.year || 'empty' }}
		td
			span.movieDirector(moviedirector='{{movie.director}}', editable-text='movie.director', e-form='rowform', e-name='director', onbeforesave='checkDirector($data)', e-required='') {{ movie.director || 'empty' }}
		td
			span.movieWatched(moviewatched='{{movie.watched}}', editable-checkbox='movie.watched', e-form='rowform', e-name='watched') {{ movie.watched && 'Watched' || 'Not Watched' }}
		td
			span.movieRating.rating(movierating='{{movie.rating}}', editable-number='movie.rating', e-form='rowform', e-name='rating', e-required='', e-min='1', e-max='5') {{ movie.rating || 'Not Yet Rated' }}
		td
			button.btn.btn-default(type='button', ng-click='rowform.$show()', ng-show='!rowform.$visible') Edit
			button.btn.btn-danger(type='button', ng-disabled='rowform.$waiting', ng-show='!rowform.$visible', ng-click="delMovie(movie._id)") Delete

			form(editable-form='', name='rowform', ng-show='rowform.$visible', onbeforesave='saveMovie($data, movie._id)')
				button.btn.btn-primary(type='submit', ng-disabled='editableForm.$waiting') Save
				button.btn.btn-default(type='button', ng-disabled='editableForm.$waiting', ng-click='rowform.$cancel()') Cancel
