<div class="jumbotron text-center">
	<h1>Movie Watch List</h1>

	<p>{{ tagline }}</p>

	<h2>Your Movies</h2>
	<div ng-repeat="movie in movies">
		<p>{{movie.title}} ({{movie.year}}) - {{movie.director}}   <input type="button" value="X" ng-click="delMovie(movie._id)"> </p>
	</div>
	<hr />
	<h3>Add New Movie</h3>
	<div>
		<input placeholder="Title" 		ng-model="newMovieTitle" />
		<input placeholder="Year" 		ng-model="newMovieYear" />
		<input placeholder="Director" 	ng-model="newMovieDirector" />
		<input type="button" value="Save" ng-click="createMovie()" />
	</div>
</div>